/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fff1eb, #2563eb);
  height: 100vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 7px;
  border-color: #1e293b;
}
.img {
  height: 60px;
  width: 60px;
}
.unordered-tab {
  display: flex;
  justify-content: space-between;
}
.unordered-app {
  display: flex;
  flex-wrap: wrap;
}
